/* Description: Custom CSS styles
   Author: Camille Nicodemus, Stilus Solutions
  Adapted from Inovatik */

/* 01. General Styles */
/* Colours
   - Lt Green #C9D7C1
   - Dk Green #6E8E5B

   Photo credit
   - Banner image: Tina Xinia on Unsplash
*/
body,
html {
  width: 100%;
	height: 100%;
}

.above-heading {
	color: #6E8E5B;
	font: 700 1rem/0.875rem "Open Sans", sans-serif;
	text-align: center;
  padding:1rem 0rem;
}

.btn-solid-sm {
  margin-top: 0.25rem;
	margin-bottom: 1.375rem;
  background-color: #000;
  border:0;
  color: #fff;
  display: inline-block;
	padding: 1.5rem 2.5rem;
	border-radius: 3rem;
	font: 700 1rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-sm:hover {
  background-color: #6E8E5B;
	color: #fff;
	text-decoration: none;
}

/* 02. Preloader */
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #6E8E5B;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% {
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}

/* Navigation */
.navbar-custom {
  background: rgba(255,255,255,0.0);
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
  padding: 2.125rem 9rem 2.125rem 9rem;
  font-size: 1.4em;
}

.navbar-custom .nav-item .nav-link {
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  color:white;
  font-weight:700;
}

.navbar-custom .nav-item .nav-link:hover {
  color: #FFD4CA;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;

}

.navbar-custom-active {
  background-color: rgba(0,0,0,1.0);
  max-height:6rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

/* Header */
#myVideo {
  width: 100%;
}

.h_vid {
  box-shadow:inset 0 0 0 2000px rgba(201, 215, 193, 0.2);
}

/* About Us */
.jumbotron {
  background-color: #000;
  border-radius: 0;
  text-align:center;
}

.jumbotron h1, .jumbotron p {
  color:white;
}

#about-cr {
  padding-top:4rem;
  padding-bottom:4rem;
  background-color:#fff;
}

#about-cr img {
  max-width:100%;
}

/* Services */
#services {
  text-align:center;
}

#services .card {
  border:0;
}

.card-image img {
  max-width:70%;
}

/* Testimonials */
#testimonials {
  padding-top:4rem;
  padding-bottom:4rem;
  text-align:center;
}

#testimonials img {
  max-height: 100px;
}

/* Contact Us */
#contact {
  padding-bottom:6rem;
}

#contact .container {
  padding: 3.5rem 1rem 2.5rem 1rem;
	background-color: #F5F5F5;
  text-align: center;
}

#contact input {
  max-width: 50%;
  margin: 0 auto;
}

#contact h2 {
  color:#000;
}

.form h2 {
  margin-bottom:2.75rem;
  text-align:center;
}

/* Socials */
#socials {
  padding-top:4rem;
  padding-bottom:4rem;
}

.icon-container {
	text-align: right;
}

.fa-stack {
	width: 2em;
	margin-bottom: 0.75rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.fa-stack .fa-stack-1x {
    color: #000;
	transition: all 0.2s ease;
}

.fa-stack .fa-stack-2x {
	color: #fff;
	transition: all 0.2s ease;
}

.fa-stack:hover .fa-stack-1x {
	color: #fff;
}

.fa-stack:hover .fa-stack-2x {
    color: #6E8E5B;
}


/* Footer */
.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #000;
  color:#fff;
}
