ul {
  list-style: none;
}

h1 {
  text-transform: uppercase;
  font-family: 'Arial Black'; 'Arial Bold', Gadget, sans-serif;
  font-size: 2em;
}

.ss_b {
  margin-top: 200px;
}

a:link {
  color:black;
  text-decoration: underline;
}
